.link {
  color: inherit;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  /* сброс отступов списков */
  padding: 0;
  margin: 0;
  list-style: none;
}

//======================cociallinks==========================
.network-list {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 10px;

  & > .network-list__item + .network-list__item {
    margin-left: 10px;
  }
}

.network-list__link {
  display: flex;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: currentcolor;

  &:hover,
  &:focus {
    fill: #2094f3e6;
  }
}

.network-list__icon {
  width: 44px;
  height: 44px;
}
// =============================

/* team */

.team {
  box-shadow: 30px;
  border-radius: 3px;
  border-color: #2094f3e6;
  border-style: solid;
  background-color: transparent;
}
.team__thumb {
  text-align: center;
}

.team__name {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__position {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

// @media screen and (max-width: 480px) {
//   .team-container img {
//     width: 100%;
//   }
// }
@media screen and (max-width: 767px) {
  .team-list__item:not(:last-child) {
    // margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * 30px);
    margin-top: calc(-1 * 30px);
  }
  .team-list__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * 30px);
    margin-top: calc(-1 * 30px);
  }
  .team-list__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }

  .team-list > .team-list__item + .team-list__item {
    margin-left: 30px;
  }
}
